nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

nav form {
    display: flex;
    align-items: center;
}

nav input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
}

nav button[type="submit"] {
    padding: 5px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

nav button[type="submit"]:hover {
    background-color: #3e8e41;
}
