* {
  margin: 0;
  padding: 3px 2px;
}

body {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
}



p {
	padding: 5px;
	font-size: clamp(14px,1.4vw,23px);
}

h3 {
  padding:10px;
  font-size : clamp(17px ,1.8vw ,28px);
}

h2 {
  padding:10px;
  font-size : clamp(19px ,2vw ,32px);
}
.dashboard-box {
  right: 0px;
  background-color: #eaf6ff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  font-family: "Arial", sans-serif;
}

.delete-section input[type="submit"]:hover {
  background-color: #c82333;
}

.delete-section input[type="submit"] {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer; } .go-back-section a:hover {
  background-color: #059862;
  color:#fff; 
}


.go-back-section a {
	text-decoration: none;
	font-size: 32px;
	/* padding: 5px 10px; */
	border-radius: 3px;
	transition: background-color 0.3s ease;
	background-color: #04aa6d;
	color: white;
	font-weight: 700;
	/* padding: ; */
}


.message {
  color: #dc3545;
  font-weight: bold;
  margin-top: 10px;
}

.Message-lang {
	/* padding-left: 114px; */
	justify-content: center;
	align-content: center;
	display: flex;
}
