<html>
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello from Export Section</title>
    {% load static %}
   <link rel="stylesheet" href="{% static "delete_section.css" %}" >

</head>
<body>
    <div class="delete-sections" >
    <form class="delete-section" method="POST" action="{% url 'delete_all_unverified_data' %}">
        {% csrf_token %}
        <h3>Delete All NEW Unverified Data</h3>
        <p>Are you sure you want to delete all new unverified data?</p>
        <p> It contains New imported data which has't gone through API check process yet. </p>
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>

    <form class="delete-section" method="POST" action="{% url 'delete_all_domain_not_live_data' %}">
        {% csrf_token %}
        <h3>Delete All Domain Not Live Data from Unverified Database</h3>
        <p>Are you sure you want to delete all domain not live data from the unverified database?</p>
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>

    <form class="delete-section" method="POST" action="{% url 'delete_all_domain_live_no_mx_data' %}">
        {% csrf_token %}
        <h3>Delete All Domain Live but MX Record Not Found Data from Unverified Database</h3>
        <p>Are you sure you want to delete all domain live but MX record not found data from the unverified database?</p>
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>

    <form class="delete-section" method="POST" action="{% url 'delete_all_verified_data' %}">
        {% csrf_token %}
        <h3>Delete All Verified Data from Domain Database</h3>
        <p>Are you sure you want to delete all verified data from the domain database?</p>
        <p> Remember This data are those which required API to fetch </p>
        <p>This action will delete the data from the domain database. Please confirm by typing 'yes' below:</p>
        <input type="text" name="confirm" placeholder="Type 'yes' to confirm" required>
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>
      </div>
        <div class="dashboard-box">
      <div class="go-back-section">
          <a href="{% url 'search_results' %}">< Go-Back </a>
  </div>
            <h2 class="live-count">Live Data Counting</h2>
            <!-- Place your dashboard content here -->
            <p>Total Amount of MX Data: <span style="color: blue;">{{ dashboard_data.total_amount_of_mx_data }}</span></p>
            <p>Total Amount of NEW Unverified Data: <span style="color: green;">{{ dashboard_data.total_amount_of_new_unverified_data }}</span></p>
            <p>Total number of Domain that were Not alive: <span style="color: red;">{{ dashboard_data.total_domain_not_live }}</span></p>
            <p>Total number of Domain found alive  but mx was not found: <span style="color: orange;">{{ dashboard_data.total_domain_live_with_no_MX }}</span></p>
      <h3 class="Message-lang"> Message </h3>
      <div class="message"> 
    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}
      </div>
          </div>
</body>
</html>


